.module-citylist{
    .hd{
        width: 1200px;
        height: 80px;
        margin: 20px auto ;
        overflow: hidden;
        ul{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            li{
                width: 80px;
                height: 80px;
                margin: 0 10px;
                background: pink;
               
                a{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 80px;
                    color: #000;
                }
            }
        }
    }

    .bd{
        width: 1200px;
        margin: 0 auto 100px;
        overflow: hidden;
        .store-list{
            width: 300px;
            height: auto;
            float: left;
            ul{
                li{
                    width: 400px;
                    height: 100px;
                    margin: 20px 0;
                    border: 3px solid #ccc;
                }
            }
        }
        .mapinit{
            float: right;
            width: 700px;
            height: 500px;
            border: 3px solid #ccc;
        }
    }
}