.join-us{
    width: 100%;
    height: auto;  
    border-top: 2px solid #FE5D5D; 
    padding-top: 20px;
    .hd{
        height: 60px;
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        text-align: left;
        h3{
            color: #333;
            font-size: 32px;
        }
    }
}