.floor .floor-inner .mt {
  border-bottom: 1px solid #c81623;
  height: 36px;
}
.floor .floor-inner .mt h2 {
  color: #333;
  padding-left: 40px;
  position: relative;
  float: left;
  font-size: 20px;
  line-height: 30px;
}
.floor .floor-inner .mt h2 i {
  background: rgba(0, 0, 0, 0) url("../images/sprite_floor.png") no-repeat;
  color: #fff;
  font-size: 13px;
  height: 25px;
  left: 0;
  overflow: hidden;
  padding-right: 10px;
  text-align: center;
  top: 2px;
  width: 31px;
}
.floor .floor-inner .mt .tab {
  border-color: #ededed;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  height: 35px;
  line-height: 34px;
  z-index: 1;
}
.floor .floor-inner .mt .tab .tab-item {
  float: left;
  height: 34px;
  position: relative;
  z-index: 2;
  width: 82px;
}
.floor .floor-inner .mt .tab .tab-item a {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  float: left;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  width: 82px;
  text-align: center;
}
.floor .floor-inner .mt .tab .tab-item a:hover {
  color: #c81623;
}
.floor .floor-inner .mt .tab .tab-item span {
  background: #ccc none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
}
.floor .floor-inner .mt .tab .tab-item.tab-selected a {
  border-left: 1px solid #c81623;
  border-right: 1px solid #c81623;
  border-top: 3px solid #c81623;
  color: #c81623;
  height: 36px;
  left: -1px;
  line-height: 30px;
  position: absolute;
  text-indent: 1px;
  top: -1px;
  z-index: 2;
  width: 83px;
}
.floor .floor-inner .mc .side {
  width: 330px;
}
.floor .floor-inner .mc .side .side-inner {
  background: #e5ebeb none repeat scroll 0 0;
  overflow: hidden;
  width: 330px;
}
.floor .floor-inner .mc .side .side-inner .banner {
  height: 474px;
}
.floor .floor-inner .mc .side .side-inner .themes {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  height: 46px;
  margin-top: -237px;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
}
.floor .floor-inner .mc .side .side-inner .themes li {
  float: left;
  height: 46px;
  padding: 10px 0 10px 15px;
  width: 160px;
}
.floor .floor-inner .mc .side .side-inner .themes li.fore1 .icon {
  background: rgba(0, 0, 0, 0) url("../images/electronicsicon.png") no-repeat scroll 0 0;
}
.floor .floor-inner .mc .side .side-inner .themes li.fore2 .icon {
  background: rgba(0, 0, 0, 0) url("../images/electronicsicon.png") no-repeat scroll 0 -26px;
}
.floor .floor-inner .mc .side .side-inner .themes .icon {
  margin-right: 5px;
  width: 26px;
}
.floor .floor-inner .mc .side .side-inner .themes span {
  font-size: 14px;
  margin-right: 5px;
}
.floor .floor-inner .mc .side .side-inner .themes i,
.floor .floor-inner .mc .side .side-inner .themes span {
  float: left;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
.floor .floor-inner .mc .side .side-inner .assists {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  font-size: 14px;
  height: 69px;
  line-height: 24px;
  overflow: hidden;
  padding: 21px 0 0;
  position: relative;
}
.floor .floor-inner .mc .side .side-inner .assists li {
  height: 24px;
  overflow: hidden;
  padding-left: 25px;
  width: 160px;
}
.floor .floor-inner .mc .side .side-inner .words {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  font-family: 宋体;
  height: 122px;
  position: relative;
}
.floor .floor-inner .mc .side .side-inner .words li {
  float: left;
  height: 103px;
  overflow: hidden;
  padding: 7px 0 0 25px;
  width: 160px;
}
.floor .floor-inner .mc .side .side-inner .words li a {
  float: left;
  line-height: 24px;
  margin-right: 10px;
  white-space: nowrap;
}
.floor .floor-inner .mc .side .side-inner .words li a:link,
.floor .floor-inner .mc .side .side-inner .words li a:visited {
  color: #999;
}
.floor .floor-inner .mc .main {
  height: 474px;
  overflow: hidden;
  width: 880px;
}
.floor .floor-inner .mc .main .p-list {
  height: 474px;
  overflow: hidden;
  width: 890px;
}
.floor .floor-inner .mc .main .p-list li {
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  height: 237px;
  overflow: hidden;
  padding: 6px 17px 0;
  width: 220px;
}
.floor .floor-inner .mc .main .p-list li .p-img {
  height: 150px;
  margin-bottom: 4px;
  padding-top: 15px;
  text-align: center;
}
.floor .floor-inner .mc .main .p-list li .p-name {
  height: 40px;
  overflow: hidden;
  margin-bottom: 3px;
}
.floor .floor-inner .mc .main .p-list li .p-name a:hover {
  color: #c81623;
}
.floor .floor-inner .mc .main .p-list li .p-price {
  color: #e4393c;
  font-family: Verdana;
  font-size: 15px;
}
