#footer dl {
  width: 25%;
  text-align: center;
}
#footer dl dt {
  font-size: 20px;
  line-height: 24px;
  padding: 6px 0;
  color: #FFFFFF;
}
#footer dl dt p {
  margin-bottom: 10px;
}
#footer dl dd {
  padding: 2px 0;
}
#footer dl dd a {
  font-size: 12px;
  color: #FFF;
}
#footer dl dd a:hover {
  color: #c81623;
}
#footer_copyright {
  padding: 20px 0 30px;
  text-align: center;
  font-family: "宋体";
  color: #FFFFFF;
  font-size: 12px;
}
#footer_copyright .links a {
  color: #FFFFFF;
  margin: 0 10px;
}
#footer_copyright .links a:hover {
  color: #c81623;
}
#footer_copyright .copyright {
  margin: 10px 0;
}
