html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
div,
p,
img,
video,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 14px/20px Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
button,
input,
select,
textarea {
  outline: none;
  resize: none;
  border: none;
  background: none;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
em {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #666;
}
a:hover {
  text-decoration: none;
}
i {
  font-style: normal;
}
.w {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.r3 {
  border-radius: 3px;
}
.r5 {
  border-radius: 5px;
}
.r10 {
  border-radius: 5px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.g-wrap {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.style-red {
  color: #c81623;
}
#top_bar .rc-top-news {
  background: #f1f1f1;
  line-height: 28px;
  color: #ff0000;
}
#top_bar .tbar-right {
  height: 30px;
  line-height: 38px;
}
#top_bar .tbar-right li {
  padding: 0 4px;
}
#top_bar .tbar-right li.spacer {
  padding: 0;
}
#top_bar .tbar-right li#customer_service {
  padding: 0;
}
#top_bar .tbar-right li#customer_service .down-content {
  width: 100%;
  padding: 0;
}
#top_bar .area .down-content {
  width: 300px;
}
#top_bar .area .down-content li {
  width: 60px;
}
#top_bar .spacer {
  background: #000 none repeat scroll 0 0;
  height: 12px;
  overflow: hidden;
  padding: 0;
  margin: 13px 4px;
  width: 1px;
}
#top_bar .ci-count {
  background-color: #FFF;
  color: #ff5a00;
  display: inline-block;
  font-size: 12px;
  left: 104px;
  line-height: 12px;
  min-width: 16px;
  padding: 1px 2px;
  text-align: center;
  top: 5px;
}
#top_bar .has-down .level {
  border: 1px solid transparent;
  display: block;
  padding: 0 12px;
  min-width: 100px;
  z-index: 11;
  color: #666666;
}
#top_bar .has-down .level #customer_address {
  font-weight: normal;
}
#top_bar .has-down:hover .level {
  background: #ffffff;
  border-color: #d8d8d8;
  border-bottom-color: #fff;
}
#top_bar .has-down:hover .down-content {
  display: block;
}
#top_bar .has-down .down-content {
  top: 29px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  line-height: 24px;
  display: none;
  padding: 0 8px;
  z-index: 10;
}
#top_bar .has-down .down-content li {
  margin: 2px 0;
}
#top_bar .has-down .down-content li a {
  padding: 0 12px;
  display: inline-block;
}
#top_bar .has-down .down-content li a:hover {
  background: #f4f4f4;
  color: #c81623;
}
#top_bar .has-down .down-content li a .selected {
  background: #b61d1d;
  color: #fff;
}
#top_search a:hover {
  color: #c81623;
}
#logo {
  padding: 10px 0;
  z-index: 12;
}
#logo a img {
  padding-left: 10px;
  padding-right: 15px;
}
#search {
  width: auto;
  z-index: 11;
  bottom: 0;
  right: 0;
}
#search .form {
  height: 36px;
  width: auto;
}
#search .text {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  color: #666;
  float: left;
  font-size: 14px;
  height: 36px;
  line-height: 24px;
  margin-bottom: 4px;
  outline: 0 none;
  padding: 4px;
  *padding: 0px;
  *height: 34px;
  width: 290px;
  text-indent: 10px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#search .button {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background: url("../images/Search.png") center no-repeat;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 36px;
  line-height: 1;
  text-indent: -99999px;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cart {
  height: 36px;
  margin-top: 25px;
  margin-right: 65px;
  z-index: 11;
}
#cart .cw-icon {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  height: 34px;
  line-height: 34px;
  padding: 0 28px 0 36px;
  text-align: center;
  width: 139px;
}
#cart .cw-icon i {
  display: block;
  overflow: hidden;
}
#cart .cw-icon i.ci-left {
  background: url(../images/jd2015img.png) no-repeat scroll 0 -58px;
  height: 16px;
  left: 18px;
  top: 9px;
  width: 18px;
}
#cart .cw-icon i.ci-right {
  color: #999;
  font: 400 13px/13px simsun;
  height: 13px;
  overflow: hidden;
  right: 10px;
  top: 11px;
  width: 7px;
}
#cart .cw-icon i.ci-count {
  background-color: #b61d1d;
  border-radius: 7px 7px 7px 0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  left: 104px;
  line-height: 12px;
  min-width: 16px;
  padding: 1px 2px;
  text-align: center;
  top: -4px;
}
#hot_words {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  width: 518px;
}
#hot_words a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
}
#top_menu {
  border-bottom: 2px solid #b61d1d;
  height: 44px;
  line-height: 44px;
}
#top_menu .categorys .categorys-all a {
  background: #b1191a none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 0 10px;
  width: 190px;
}
#top_menu .categorys .categorys-items {
  width: 210px;
}
#top_menu .categorys .categorys-items .categorys-item {
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  padding-left: 4px;
}
#top_menu .categorys .categorys-items .categorys-item i {
  font: 400 9px/14px consolas;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 9px;
  width: 4px;
  z-index: 1;
}
#top_menu .menu ul li a {
  color: #333;
  font-size: 15px;
  padding: 0 20px;
}
#top_menu .menu ul li a:hover {
  color: #b61d1d;
}
#layout_sort {
  width: 100%;
  background-color: #fb8e19;
}
#sort {
  min-width: 990px;
  width: 990px;
  height: 36px;
  /*background: #ccc;*/
  margin: 0 auto;
  position: relative;
}
#sort .sort_index a:hover {
  color: #fff;
}
.sort_index {
  width: 180px;
  height: auto;
  float: left;
  position: relative;
  /*background: #008CC7;*/
}
.sort_index_top {
  background: #fb8e19;
  color: #fff;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  display: block;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
}
.sort_index_top em {
  font-size: 14px;
  height: 35px;
  margin-right: 10px;
  width: 14px;
  display: inline-block;
  line-height: 36px;
}
.sort_index_top span {
  line-height: 36px;
  font-size: 16px;
}
.sort_index_down {
  z-index: 990;
  position: relative;
  display: none;
}
.sort_index_down {
  position: absolute;
}
.sort_index_down .list {
  padding-top: 2px;
  background: #fb8e19;
  height: 290px;
  padding-bottom: 8px;
  position: relative;
  width: 180px;
  z-index: 991;
  border-top: 1px dashed #FFF;
  overflow:hidden;
}
.sort_index_down .list li {
  border-bottom: 1px solid #fb8e19;
  border-top: 1px solid #fb8e19;
  height: 32px;
  line-height: 32px;
  float: left;
  overflow: hidden;
  padding-left: 10px;
  width: 180px;
  color: #333;
}
.sort_index_down .list li::after {
  content: '>';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  color: #FFFFFF;
}
.sort_index_down .list li dt a {
  height: 20px;
  line-height: 20px;
}
.sort_index_down .list li {
  border-left: 1px solid #fb8e19;
}
.sort_index_down .list li:hover {
  background: #e87800;
  border-left: 1px solid #fb8e19;
}
.sort_index_down .list li em {
  color: #FFAA00;
  float: left;
  font-size: 16px;
  padding-right: 2px;
  width: 16px;
  line-height: 32px;
  display: inline-block;
}
.sort_index_down .list li a {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-left: 8px;
  white-space: nowrap;
  line-height: 32px;
}
.sort_center {
  width: 785px;
  height: 36px;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 180px;
  margin-left: 10px;
}
.sort_center li {
  display: block;
  float: left;
  height: 36px;
  padding: 0 12px 0 13px;
}
.sort_center li a {
  color: #FFFFFF;
  float: left;
  font-size: 15px;
  position: relative;
  line-height: 36px;
  height: 36px;
  display: block;
}
.sort_center li a .new {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: -18px;
  top: 3px;
  width: 16px;
}
.sort_center li a .hot {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: -18px;
  top: 3px;
  width: 16px;
}
.sort_center li a:hover {
  color: #000;
}
.sort_right {
  display: block;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  text-overflow: ellipsis;
  top: 0;
  right: 0;
  white-space: nowrap;
  width: 200px;
}
.sort_right a {
  color: #f90;
}
#sort .cate-list dl dd a:hover {
  color: #f60;
  text-decoration: underline;
}
.go_right {
  width: 810px;
  height: 290px;
  display: none;
  position: absolute;
  background: transparent;
  top: 0;
  left: 180px;
  border-top: none;
  z-index: 999;
  overflow: hidden;
}
.go_right1 {
  position: absolute;
  top: 25px;
}
.go_right1 .cate-list {
  background-color: transparent;
}
.go_right .tupian {
  float: right;
  position: absolute;
  width: 210px;
  height: 100%;
  top: 0;
  right: 0;
}
.sort_index_down .go_right .tupian a {
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 7px;
  color: #666;
}
.go_right .tupian a:hover {
  color: #f60;
}
.go_right .tupian a em {
  font-size: 25px;
}
.go_right .tupian a:hover {
  color: #f60;
}
.go_right .tupian img {
  float: right;
  max-width: 100%;
  height: 100%;
}
.sort_index_down .list li dl dd a {
  color: #666;
  display: inline-block;
  float: left;
}
.sort_index_down .list li dl dd a.red {
  color: #f60;
}
/*.sort_index_down .list li:hover .go_right{
  display: block;
}*/
.cate-list {
  float: left;
  height: 100%;
  width: 100px;
  margin: 0;
  background-color: #FFF;
  overflow: hidden;
  border-bottom: 1px solid #fb8e19;
}
.last {
  border-right: 1px solid #fb8e19;
}
.cate-list dl {
  float: left;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
}
.cate-list dl dt {
  float: left;
  font-weight: normal;
  height: 28px;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 8px;
  width: 90px;
  cursor: pointer;
  overflow: hidden;
}
.cate-list dl dd {
  border-top: 1px solid #eee;
  float: left;
  overflow: hidden;
  width: 460px;
}
#footer dl {
  width: 24%;
  text-align: center;
}
#footer dl dt {
  font-size: 20px;
  line-height: 24px;
  padding: 6px 0;
  color: #FFFFFF;
}
#footer dl dt p {
  margin-bottom: 10px;
}
#footer dl dd {
  padding: 2px 0;
}
#footer dl dd a {
  font-size: 12px;
  color: #FFF;
}
#footer dl dd a:hover {
  color: #c81623;
}
#footer_copyright {
  padding: 20px 0 30px;
  text-align: center;
 // font-family: "宋体";
  color: #FFFFFF;
  font-size: 12px;
}
#footer_copyright .links a {
  color: #FFFFFF;
  margin: 0 10px;
}
#footer_copyright .links a:hover {
  color: #c81623;
}
#footer_copyright .copyright {
  margin: 10px 0;
}
