#search .text {
  *height: 26px;
}
#footer dl {
  *width: 24.8%;
}
.list-default .gfilter-list ul li {
  float: left;
}
.gfilter {
  *padding: 15px 10px;
}
.index-module .index-item-wrap .index-item-list a[title] {
  *display: inline;
  *position: relative;
  *width: 70px;
  *height: 24px;
  *z-index: -1;
}
.index-module .index-item-wrap .index-item-list .btn {
  *line-height: 20px;
  float: none;
}
.index-module .index-item-wrap {
  *width: 238px;
}
.other-module {
  margin-bottom: 10px;
}
.other-module .colume-wrap {
  *width: 988px;
  *padding-bottom: 5px;
}
.breadcrumb > LI {
  float: left;
  *padding: 0 5px;
}
.product-container .product-page .product-L .product-other-images LI {
  float: left;
  width: 64px;
}
.product-container .product-page .product-L {
  *width: 425px;
  float: left;
}
.product-container .product-page .product-R {
  *width: 505px;
  float: right;
}
.list-inline > LI {
  *float: left;
  *margin-right: 5px;
}
.product-container .product-page .product-L .product-other-images {
  *height: 68px;
}
.product-container .product-page .product-R .product-page-cart {
  clear: both;
}
.product-container .product-page .product-R .product-page-cart .amount-btn {
  *padding: 9px 12px;
}
.product-container .product-page .product-R .product-page-cart .product-quantity {
  width: 260px;
  *width: 300px;
}
.product-container .product-page .product-R .product-page-cart .product-quantity .input-group-btn {
  *float: left;
  *width: auto;
}
.product-container .product-page .product-R .product-page-cart .product-quantity .spinner-buttons {
  *width: 33px;
}
.product-container .product-page .product-R .product-page-cart .product-quantity .spinner-input {
  *float: left;
  *width: 115px;
  *height: 24px;
  *border-right: none;
  *border-left: none;
}
.nav-tabs {
  clear: both;
  overflow: hidden;
}
.add-to-cart {
  *margin: 0;
}
.add-to-cart .col-xs-8,
.add-to-cart .col-xs-4 {
  *padding: 0;
}
.list-group-item {
  overflow: hidden;
}
.mini-cart .list-group-item .row .col-xs-3 {
  *width: 50px;
}
.mini-cart .list-group-item .row .col-xs-9 {
  *width: auto;
}
.page-header H1 {
  *font-size: 16px;
}
.page-header H1 small {
  *font-size: 12px;
}
.cart-container .c-ci-title {
  *padding: 0 15px;
}
.cart-container .cart-header,
.cart-container .cart-body {
  overflow: hidden;
}
.cart-container .cart-header .row,
.cart-container .cart-body .row {
  overflow: hidden;
}
.cart-container .cart-header .row .row .col-xs-3,
.cart-container .cart-body .row .row .col-xs-3 {
  *width: 50px;
}
.cart-container .cart-header .row .row .col-xs-9,
.cart-container .cart-body .row .row .col-xs-9 {
  *width: 189px;
}
.cart-container .cart-header .col-xs-1,
.cart-container .cart-body .col-xs-1 {
  *width: 80px;
}
.cart-container .cart-header .col-xs-2,
.cart-container .cart-body .col-xs-2 {
  *width: 165px;
}
.cart-container .cart-header .col-xs-2 .product-quantity,
.cart-container .cart-body .col-xs-2 .product-quantity {
  *padding-left: 18px ;
  *width: 165px;
}
.cart-container .cart-header .col-xs-2 .product-quantity .input-group-btn,
.cart-container .cart-body .col-xs-2 .product-quantity .input-group-btn {
  *float: left;
  *width: auto;
}
.cart-container .cart-header .col-xs-2 .product-quantity .spinner-buttons,
.cart-container .cart-body .col-xs-2 .product-quantity .spinner-buttons {
  *width: 26px;
}
.cart-container .cart-header .col-xs-2 .product-quantity .spinner-input,
.cart-container .cart-body .col-xs-2 .product-quantity .spinner-input {
  *float: left;
  *width: 60px;
  *height: 18px;
  border-right: none;
}
.cart-container .cart-header .col-xs-5,
.cart-container .cart-body .col-xs-5 {
  *width: 300px;
}
.cart-container .cart-footer .col-xs-4 {
  *width: 222px;
}
.checkout-maddr {
  clear: both;
  overflow: hidden;
}
.checkout-maddr .panel-heading {
  clear: both;
}
.checkout-maddr .panel-heading h3 {
  *height: 25px;
}
.checkout-maddr .addr-container-wrap {
  clear: both;
}
.my-orders-list .my-orders-content .my-orders-content-tit LI {
  *float: left;
  *width: 187px;
}
.my-orders-list .my-orders-content .my-orders-content-tit LI.w280 {
  *width: 427px;
}
.my-main-R .my-orders-list .my-orders-content .my-orders-content-tit LI.w280 {
  *width: 285px;
}
.my-main-R .my-orders-list .my-orders-content .my-orders-content-tit LI {
  *width: 125px;
}
.check-order-form input {
  *height: 22px;
}
.checkout-total .row {
  overflow: hidden;
}
.checkout-total .col-xs-7 {
  *width: 50%;
}
.check-order-foot {
  overflow: hidden;
}
.check-order-foot .col-xs-5 {
  *width: 305px;
}
.passport-login-container .login-panel {
  *width: 312px;
}
.ruici-input .form-horizontal .form-group .form-control {
  *width: 310px;
  *padding: 0;
  *line-height: 51px;
  line-height: 38px \0;
  *text-indent: 10px;
}
.ruici-signup-input .form-horizontal .form-group .form-control {
  *width: 350px;
}
.ruici-signup-input .form-horizontal .form-group #input_vcode {
  *width: 200px;
}
.ruici-signup-input .form-horizontal .form-group .vcode {
  *margin-left: -33px;
  *width: 124px;
  *margin-right: -15px;
}
.ruici-input .form-horizontal .checkbox INPUT[type=checkbox] {
  *margin-top: -1px;
}
.ruici-signup-input .sign-content FORM .annotation,
.ruici-signup-input .sign-content FORM .checkbox,
.ruici-signup-input .sign-content FORM button[type=submit] {
  *margin-left: 30px;
}
.form-group {
  *overflow: hidden;
}
.my-main .my-main-R .account-info TABLE .form-control {
  *width: 310px;
  *height: 38px;
  *line-height: 38px;
}
.laydate-icon {
  *padding-right: 12px!important;
}
.addr-container-wrap .addr-box INPUT {
  *padding: 5px 0;
  *height: 30px;
  *line-height: 30px;
}
.modal-footer .form-group .col-sm-5 {
  *width: 125px !important;
}
.img-thumbnail {
  *padding: 2px;
}
.my-main .my-main-R .coupon-wrap .coupon-tit input {
  padding: 0 12px;
  line-height: 28px;
  *line-height: 28px;
}
.my-main .my-main-R .coupon-wrap .coupon-tit {
  overflow: hidden;
}
.my-main .my-main-R .coupon-wrap .coupon-tit .form-group,
.my-main .my-main-R .coupon-wrap .coupon-tit button {
  *float: left;
}
.my-main .my-main-R .coupon-wrap .coupon-tit button {
  *margin-top: 1px;
}
.addr-container-wrap .addr-his-item-default .addr-add-icon {
  *margin-top: 42px;
  *background: url("../images/addr_add.png") center no-repeat;
  *border: none;
}
#footer {
  *margin-top: 20px;
}
