.product-container .product-page {
  /*.other-img{
      text-align: center;
      .product-other-images{
        max-height: 520px;
        overflow: hidden;
      }
      .up,.down{
        margin-left: -3px;
        cursor: pointer;
      }
    }*/
}
.product-container .product-page .product-L {
  width: 455px;
}
.product-container .product-page .product-L .favorite-button {
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 99;
}
.product-container .product-page .product-L .favorite-button i {
  font-size: 16px;
  color: #ea2a39;
}
.product-container .product-page .product-L .product-main-image {
  border: 1px solid #CCCCCC;
  width: 380px;
  height: 380px;
  overflow: hidden;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.product-container .product-page .product-L .product-main-image a img {
  max-width: 100%;
  max-height: 100%;
}
.product-container .product-page .product-L .product-other-images {
  margin-left: -10px;
  margin-top: 15px;
  width: 395px;
  height: 66px;
  overflow: hidden;
  border: none;
  padding: 0;
}
.product-container .product-page .product-L .product-other-images li {
  margin-left: 10px;
  padding: 0;
  width: 65px;
  height: 65px;
}
.product-container .product-page .product-L .product-other-images li img {
  width: 100%;
  height: 100%;
}
.product-container .product-page .product-R {
  width: 564px;
}
.product-container .product-page .product-R h1 {
  font-size: 30px;
  color: #4e4e4e;
}
.product-container .product-page .product-R h1 small {
  font-size: 18px;
}
.product-container .product-page .product-R .condition-item {
  color: #4e4e4e;
}
.product-container .product-page .product-R .promotion-list {
  margin-top: 5px;
}
.product-container .product-page .product-R .promotion-list li {
  color: #e30000;
  font-size: 14px;
  font-weight: bold;
}
.product-container .product-page .product-R .promotion-list li .label-danger {
  background-color: #e30000!important;
  color: #fffa75;
}
.product-container .product-page .product-R .product-spec-options {
  margin-top: 5px;
}
.product-container .product-page .product-R .product-spec-options dl dt {
  text-align: left;
  padding: 0;
  color: #4e4e4e;
  font-weight: normal;
  width: 95px;
}
.product-container .product-page .product-R .product-spec-options dl dd {
  margin-left: 100px;
}
.product-container .product-page .product-R .price-availability-block {
  background: #f39801;
  color: #FFFFFF;
  font-size: 18px;
  padding: 13px 10px 10px;
  margin-top: 10px;
}
.product-container .product-page .product-R .price-availability-block b {
  font-size: 30px;
}
.product-container .product-page .product-R .product-page-cart {
  padding-top: 10px;
}
.product-container .product-page .product-R .product-page-cart .product-quantity {
  width: 260px;
}
.product-container .product-page .product-R .product-page-cart .amount-btn {
  cursor: default;
  color: #4e4e4e;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  display: inline-block;
  padding-left: 0!important;
}
.product-container .product-page .product-R .product-page-cart .btn-section .btn-buy {
  font-size: 16px;
  width: 152px;
  height: 37px;
  border: 1px solid #f39801;
  display: inline-block;
  text-align: center;
  line-height: 37px;
  color: #FFFFFF;
  background: #f39801;
  border-radius: 3px;
}
.product-container .product-page .product-R .product-page-cart .btn-section a.btn-buy.disabled {
  pointer-events: none;
}
.product-container .product-page .product-R .product-page-cart .btn-section .btn-addcart {
  background: #ffebc9;
  color: #f39801;
}
.product-container .product-page .product-page-content .description img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
