.wrap-container {
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
}
.wrap-container .main-container {
  padding-left: 15px;
  min-height: 600px;
  /*我的订单样式*/
  /*我的收藏样式*/
  /*我的消息样式*/
  /*收货地址样式*/
  /*我的优惠券样式*/
  /*我的设置页面样式*/
  /*会员中心首页*/
}
.wrap-container .main-container .u-center .my-menu {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #D4D1D1;
}
.wrap-container .main-container .u-center .my-menu .col-xs-4 {
  width: 28%;
}
.wrap-container .main-container .u-center .my-menu .col-xs-8 {
  width: 72%;
}
.wrap-container .main-container .u-center .my-menu .nav-stacked > li + li {
  margin-top: 0;
}
.wrap-container .main-container .u-center .my-menu .mm-root {
  background-color: #AAABAD;
  height: 46px;
  line-height: 46px;
  color: #fff;
  padding: 0;
}
.wrap-container .main-container .u-center .my-menu .mm-root img {
  position: absolute;
  right: 0;
  top: 15px;
}
.wrap-container .main-container .u-center .my-menu .mm-root .i-link {
  padding: 0;
}
.wrap-container .main-container .u-center .my-menu .mm-root .i-link a {
  color: #fff;
  font-size: 16px;
  padding-left: 5px;
}
.wrap-container .main-container .u-center .my-menu .mm {
  height: 40px;
  line-height: 40px;
  background-color: #F2F2F2;
  color: #565656;
  border-left: 1px solid #D4D1D1;
  border-right: 1px solid #D4D1D1;
  padding: 0;
}
.wrap-container .main-container .u-center .my-menu .mm img {
  position: absolute;
  right: 0;
  top: 11px;
}
.wrap-container .main-container .u-center .my-menu .mm .i-label {
  padding-left: 5px;
}
.wrap-container .main-container .u-center .my-menu dd .active a {
  background-color: #fff;
  color: #3078EB;
  border-left: 1px solid #D4D1D1;
  border-right: 1px solid #D4D1D1;
  padding: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 28%;
}
.wrap-container .main-container .u-center .my-menu dd a {
  background-color: #fff;
  color: #666666;
  border-left: 1px solid #D4D1D1;
  border-right: 1px solid #D4D1D1;
  padding: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 28%;
}
.wrap-container .main-container .page-header {
  width: 100%;
  background-color: white;
  border: 1px solid #F1F1F1;
}
.wrap-container .main-container .page-header .title {
  height: 90px;
  line-height: 90px;
  font-size: 28px;
  padding-left: 48px;
}
.wrap-container .main-container .page-header .text-red {
  color: #F18850;
}
.wrap-container .main-container .page-header .order-nav {
  height: 130px;
}
.wrap-container .main-container .page-header .order-nav .navlist {
  height: 40px;
  line-height: 40px;
}
.wrap-container .main-container .page-header .order-nav .navlist ul {
  padding: 0;
  padding-left: 33px;
  margin: 0;
  border: 0;
}
.wrap-container .main-container .page-header .order-nav .navlist ul li {
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
.wrap-container .main-container .page-header .order-nav .navlist ul li a {
  font-weight: bolder;
  font-size: 15px;
}
.wrap-container .main-container .page-header .order-nav .navlist ul .active {
  border: 0;
}
.wrap-container .main-container .page-header .order-nav .navlist ul .active a {
  color: #2897D7;
}
.wrap-container .main-container .page-header .mo-list-head {
  margin-bottom: 0;
}
.wrap-container .main-container .page-header .my-orders-list .btn-pay {
  background-color: #EB5A0B;
  border-radius: 2px;
  color: white;
}
.wrap-container .main-container .page-header .my-orders-list .btn-confirm {
  background-color: #139CEC;
  border-radius: 2px;
  color: white;
}
.wrap-container .main-container .page-header .my-orders-list .text-nowrap {
  height: 60px;
}
.wrap-container .main-container .page-header .my-orders-list .text-nowrap th {
  line-height: 60px;
  border: 0;
}
.wrap-container .main-container .page-header .my-orders-list .col1 {
  padding-left: 48px;
}
.wrap-container .main-container .page-header .my-orders-list .mo-list-items th,
.wrap-container .main-container .page-header .my-orders-list .mo-list-items td {
  background-color: white;
  border: 0;
}
.wrap-container .main-container .page-header .my-orders-list .mo-list-items .border-gray {
  border: 1px solid #F1F1F1;
}
.wrap-container .main-container .page-header .my-orders-list .mo-list-items .mo-item {
  padding-left: 28px;
  margin-left: 5px;
}
.wrap-container .main-container .page-header .my-orders-list .mo-list-items .o-info {
  padding-left: 33px;
  border-bottom: 1px solid #F1F1F1;
}
.wrap-container .main-container .page-header .table-bordered {
  border: 0;
}
.wrap-container .main-container .glist-container .gl-default {
  padding: 0;
  margin: 0;
  width: 100%;
}
.wrap-container .main-container .glist-container .gl-default .del {
  color: #158DD5;
}
.wrap-container .main-container .my-msg {
  min-height: 745px;
}
.wrap-container .main-container .member-msg-list .msg {
  padding-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}
.wrap-container .main-container .member-msg-list .msg a {
  background-color: #FAFAFA;
}
.wrap-container .main-container .member-msg-list .msg .msg-title {
  font-size: 15px;
  padding-left: 25px;
  color: #000;
  font-weight: bolder;
}
.wrap-container .main-container .member-msg-list .msg .msg-content {
  font-size: 14px;
  padding-left: 25px;
}
.wrap-container .main-container .address .list-group-item {
  height: 175px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 25px;
  position: relative;
  padding: 0;
}
.wrap-container .main-container .address .list-group-item .name {
  padding-left: 25px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}
.wrap-container .main-container .address .list-group-item .name .zip {
  padding-right: 25px;
  color: gray;
  font-weight: normal;
  font-size: 14px;
}
.wrap-container .main-container .address .list-group-item .textreg {
  padding-left: 25px;
}
.wrap-container .main-container .address .list-group-item .fixbottom {
  background-color: #139CEC;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.wrap-container .main-container .address .list-group-item .edit {
  color: white;
  padding-right: 25px;
}
.wrap-container .main-container .address .list-group-item .defaultAdd {
  padding-left: 25px;
  height: 100%;
  line-height: 100%;
}
.wrap-container .main-container .address .list-group-item .ico-add {
  padding-top: 60px;
  font-size: 24px;
}
.wrap-container .main-container .address .back {
  position: absolute;
  top: 30px;
  right: 33px;
}
.wrap-container .main-container .coupon .list-group-item {
  width: 90%;
  margin-left: 5%;
  height: 298px;
  padding: 0;
  margin-bottom: 20px;
}
.wrap-container .main-container .coupon .list-group-item .ctl-text {
  padding-left: 15px;
  color: gray;
  padding-top: 15px;
}
.wrap-container .main-container .coupon .list-group-item .ctl-text-desc {
  padding-left: 15px;
  color: gray;
  padding-top: 15px;
  height: 55px;
  overflow: hidden;
}
.wrap-container .main-container .coupon .list-group-item hr {
  margin: 0;
  margin-top: 15px;
}
.wrap-container .main-container .coupon .bg-valid {
  height: 140px;
  line-height: 120px;
  width: 100%;
  background-color: #EC6313;
  border-bottom: 1px dotted #EC6313;
  color: white;
}
.wrap-container .main-container .coupon .bg-valid .val-info .cut-money {
  padding-top: 30px;
  line-height: 50px;
  font-size: 28px;
}
.wrap-container .main-container .coupon .bg-valid .val-info .condition {
  line-height: 40px;
  font-size: 14px;
}
.wrap-container .main-container .coupon .bg-valid .status div {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 50%;
}
.wrap-container .main-container .coupon .bg-unvalid {
  height: 140px;
  line-height: 120px;
  width: 100%;
  background-color: #B9B9B9;
  border-bottom: 1px dotted #B9B9B9;
  color: white;
}
.wrap-container .main-container .coupon .bg-unvalid .val-info .cut-money {
  padding-top: 30px;
  line-height: 50px;
  font-size: 28px;
}
.wrap-container .main-container .coupon .bg-unvalid .val-info .condition {
  line-height: 40px;
  font-size: 14px;
}
.wrap-container .main-container .coupon .bg-unvalid .status div {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
  border: 1px solid #686868;
  border-radius: 50%;
  background-color: #919191;
}
.wrap-container .main-container .setting .content {
  margin-top: 20px;
  line-height: 30px;
}
.wrap-container .main-container .setting .content .wrap-avatar {
  width: 100%;
  text-align: center;
}
.wrap-container .main-container .setting .content .wrap-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.wrap-container .main-container .main-index {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.wrap-container .main-container .main-index .m-baseinfo {
  height: 200px;
  background-color: #fff;
  padding-top: 12px;
}
.wrap-container .main-container .main-index .m-baseinfo img {
  margin-bottom: 10px;
}
.wrap-container .main-container .main-index .m-baseinfo .welcome {
  line-height: 25px;
  font-size: 16px;
  color: #000;
}
.wrap-container .main-container .main-index .m-baseinfo .status-order span {
  padding-left: 2px;
  color: #CA7B7B;
}
.wrap-container .main-container .main-index .m-baseinfo .status-order .wrap-status-item {
  margin-top: 60px;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data {
  height: 148px;
  margin-top: 12px;
  background-color: #F5F5F5;
  min-width: 272px;
  color: #000;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-jf {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 28px;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-jf img {
  padding-top: 6px;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-jf span {
  padding-left: 5px;
  padding-right: 5px;
  color: #CA7B7B;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-coupon {
  padding-left: 20px;
  line-height: 28px;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-coupon img {
  padding-top: 6px;
}
.wrap-container .main-container .main-index .m-baseinfo .my-data .my-coupon span {
  padding-left: 5px;
  padding-right: 5px;
  color: #CA7B7B;
}
.wrap-container .main-container .order-center {
  margin-top: 20px;
}
.wrap-container .main-container .order-center .panel-heading span.more {
  padding-right: 5px;
  color: #9D9D9D;
}
.wrap-container .main-container .order-center .panel-heading span.title {
  font-size: 15px;
  font-weight: bolder;
}
.wrap-container .main-container .order-center .panel-body .order-list-item {
  height: 75px;
  line-height: 75px;
}
.wrap-container .main-container .order-center .panel-body .order-list-item .time {
  padding-top: 16px;
  line-height: 20px;
}
.wrap-container .main-container .order-center .panel-body .order-list-item .money {
  padding-top: 16px;
  line-height: 20px;
}
.wrap-container .main-container .order-center .panel-body .order-list-item .pic img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
