#layout_sort {
  width: 100%;
  background-color: #fb8e19;
}
#sort {
  min-width: 990px;
  width: 990px;
  height: 36px;
  /*background: #ccc;*/
  margin: 0 auto;
  position: relative;
}
#sort .sort_index a:hover {
  color: #fff;
}
.sort_index {
  width: 180px;
  height: auto;
  float: left;
  position: relative;
  /*background: #008CC7;*/
}
.sort_index_top {
  background: #fb8e19;
  color: #fff;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  display: block;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
}
.sort_index_top em {
  font-size: 14px;
  height: 35px;
  margin-right: 10px;
  width: 14px;
  display: inline-block;
  line-height: 36px;
}
.sort_index_top span {
  line-height: 36px;
  font-size: 16px;
}
.sort_index_down {
  z-index: 990;
  position: relative;
  display: none;
}
.sort_index_down {
  position: absolute;
}
.sort_index_down .list {
  padding-top: 2px;
  background: #fb8e19;
  height: 290px;
  padding-bottom: 8px;
  position: relative;
  width: 180px;
  z-index: 991;
  border-top: 1px dashed #FFF;
}
.sort_index_down .list li {
  border-bottom: 1px solid #fb8e19;
  border-top: 1px solid #fb8e19;
  height: 32px;
  line-height: 32px;
  float: left;
  overflow: hidden;
  padding-left: 10px;
  width: 180px;
  color: #333;
}
.sort_index_down .list li::after {
  content: '>';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  color: #FFFFFF;
}
.sort_index_down .list li dt a {
  height: 20px;
  line-height: 20px;
}
.sort_index_down .list li {
  border-left: 1px solid #fb8e19;
}
.sort_index_down .list li:hover {
  background: #e87800;
  border-left: 1px solid #fb8e19;
}
.sort_index_down .list li em {
  color: #FFAA00;
  float: left;
  font-size: 16px;
  padding-right: 2px;
  width: 16px;
  line-height: 32px;
  display: inline-block;
}
.sort_index_down .list li a {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-left: 8px;
  white-space: nowrap;
  line-height: 32px;
}
.sort_center {
  width: 785px;
  height: 36px;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 180px;
  margin-left: 10px;
}
.sort_center li {
  display: block;
  float: left;
  height: 36px;
  padding: 0 12px 0 13px;
}
.sort_center li a {
  color: #FFFFFF;
  float: left;
  font-size: 15px;
  position: relative;
  line-height: 36px;
  height: 36px;
  display: block;
}
.sort_center li a .new {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: -18px;
  top: 3px;
  width: 16px;
}
.sort_center li a .hot {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: -18px;
  top: 3px;
  width: 16px;
}
.sort_center li a:hover {
  color: #000;
}
.sort_right {
  display: block;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  text-overflow: ellipsis;
  top: 0;
  right: 0;
  white-space: nowrap;
  width: 200px;
}
.sort_right a {
  color: #f90;
}
#sort .cate-list dl dd a:hover {
  color: #f60;
  text-decoration: underline;
}
.go_right {
  width: 810px;
  height: 290px;
  display: none;
  position: absolute;
  background: transparent;
  top: 0;
  left: 180px;
  border-top: none;
  z-index: 999;
  overflow: hidden;
}
.go_right1 {
  position: absolute;
  top: 25px;
}
.go_right1 .cate-list {
  background-color: transparent;
}
.go_right .tupian {
  float: right;
  position: absolute;
  width: 210px;
  height: 100%;
  top: 0;
  right: 0;
}
.sort_index_down .go_right .tupian a {
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 7px;
  color: #666;
}
.go_right .tupian a:hover {
  color: #f60;
}
.go_right .tupian a em {
  font-size: 25px;
}
.go_right .tupian a:hover {
  color: #f60;
}
.go_right .tupian img {
  float: right;
  max-width: 100%;
  height: 100%;
}
.sort_index_down .list li dl dd a {
  color: #666;
  display: inline-block;
  float: left;
}
.sort_index_down .list li dl dd a.red {
  color: #f60;
}
/*.sort_index_down .list li:hover .go_right{
  display: block;
}*/
.cate-list {
  float: left;
  height: 100%;
  width: 100px;
  margin: 0;
  background-color: #FFF;
  overflow: hidden;
  border-bottom: 1px solid #fb8e19;
}
.last {
  border-right: 1px solid #fb8e19;
}
.cate-list dl {
  float: left;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
}
.cate-list dl dt {
  float: left;
  font-weight: normal;
  height: 28px;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 8px;
  width: 90px;
  cursor: pointer;
  overflow: hidden;
}
.cate-list dl dd {
  border-top: 1px solid #eee;
  float: left;
  overflow: hidden;
  width: 460px;
}
