<style>
body {background: #ffffff!important; min-width: 1238px;}
.clearfix {clear: both;}
a {text-decoration: none; outline: none; color: #666;}    
h1, h2, h3, h4, h5, h6 { font-weight: normal;}    
h3 { font-size: 24px;}    
.posa { position: absolute;} 
.lly-2 .signz {
    width: 47px;
    height: 60px;
    background: url(public/images/db/5d/59/2711ee517494c5317a02b20bfa79627f9d43d224.png?vb415) top right no-repeat;
    top: 0;
    right: 0;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 2px;
    z-index: 10;
    position: absolute;
}
.con-left img{ width:398px; height:404px; }
.rt-wrap-hov img{ width:260px; height:230px;}
.pro-middle img {width: 290px; height: 428px;}
.link_list img{ width:180px; height:200px;}
.index-item-list.posr img{ width:238px; height:238px;}
.line-two{ margin-top:16px;}
/*轮播*/
.swiper-container {position: relative; width: 100%; height:500px; display: block; margin: 0 auto; overflow: hidden; z-index: 1;}
.swiper-slide img { width:1920px; height: 500px;}
.swiper-slide {height:500px; width:1920px; padding:0px; margin:0px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 50%;
    margin-left: -24px;
	opacity: 0.6;
}

.swiper-wrapper {
    width: 1920px;
    left: 50%;
    margin-left: -960px;
}
.swiper-pagination{ position:absolute; text-align:center; z-index:10;}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fb8e19;}

/*箭头*/
.swiper-button-prev {
	position: absolute;
	left: 0px;
	top: 0;
	width: 15%;
	height: 100%;
	z-index: 999;
}

.swiper-button-prev span {
	margin-top: -32px;
	display: block;
	left: 20px;
	top: 50%;
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: rgba(180,180,180,0.45) url(/public/images/dc/49/a4/3d1bce4a271c03fc3ea12af59f128e45905c75c2.png?v3671) no-repeat center 17px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.swiper-button-next {
	position: absolute;
	right: 0px;
	top: 0;
	width: 15%;
	height: 100%;
	z-index: 999;
}

.swiper-button-next span {
	margin-top: -32px;
	display: block;
	right: 20px;
	top: 50%;
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: rgba(180,180,180,0.45) url(/public/images/dc/49/a4/3d1bce4a271c03fc3ea12af59f128e45905c75c2.png?v3671) no-repeat center -71px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.swiper-container:hover .swiper-button-prev span { opacity: .8;}
.swiper-container:hover .swiper-button-next span { opacity: .8;}
/*css变换*/
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}
.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;overflow:hidden;}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}/*.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}*/
.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}
/*.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}*/
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;}.swiper-pagination-bullet{width:18px;height:18px;display:inline-block;border-radius:100%;background:#000;opacity:1}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#7a636d}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fb8e19;}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}
.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}
.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}
/**/
/*production*/
.whole-container{ background:#ffffff;}
/*热卖推荐*/
.all-content {margin-top: 32px; margin-left: auto; margin-right: auto; height: 670px;}
.container-one{overflow: hidden; width: 1238px; margin: 0 auto;}
.r-sign {
    position: absolute;
    width: 166px;
    height: 76px;
    left: 0;
    top: 0;
    background: url(/public/images/f1/09/09/bcba92ac59a49e8726f3df98a39ea9ecb6849b0c.png?v0588) no-repeat;
    z-index: 10;
}
.container-two{ width: 1258px;}        
.rm-tit {
    font-family: "微软雅黑";
    color: #009fa7;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 69px;
    background: url(/public/images/ff/bf/a0/0f86ec6c95bf6eb17fd14b3c8188df36436d61c1.png?47991_H69_W1238) no-repeat center;
} 
.p-tit {
    font-size: 30px;
    color: #009ea7;
    font-weight: bold;
    text-align: center;
    line-height: 56px;
    background: url(/public/images/e9/50/e6/4c8afb0cee060c386ed53dc50919fb4dae5d67cd.png?vc91a)bottom no-repeat;
  
}
.con-left {width: 396px; height: 714px; float: left; border: 1px solid transparent; position: relative;}
.sub-tit {
    margin-top: 18px;
    padding-left: 80px;
    font-size: 20px;
    line-height: 27px;
    background: url(/public/images/a4/81/cd/6e9d63a2aa059a54452e9a26076565a322da262f.png?vc91a) repeat-y 69px 6px;
} 
.p-one {line-height: 27px;}
.wybt {
    background: url(public/images/7d/79/12/bdefb54024cf19f4d25c068f77df9098ab3edc80.png?v6ce3) no-repeat;
    width: 290px;
    height: 66px;
    margin: 30px auto;
    color: #ffffff;
    padding-top: 6px;
}
.wy-sym {font-size: 20px; position: relative; top: 19px; left: 12px;}    
.wy-sym1 { font-size: 34px; font-weight: bold; position: relative; top: 19px; left: 15px;}
.wy-sym2 {font-size: 24px; position: relative; top: 19px; left: 10px;}
.wy-sym3 {position: absolute;;color: #ffdebd; text-decoration: line-through; top:: -6px; font-size: 16px;}    
.wy-buy { font-size: 24px; position: absolute; bottom: 80px; right:68px;}
/*right*/  
.con-right {width: 840px; height: 716px; float: left; margin-left: 20px;} 
.rt-wrap {width: 260px; height: 347px; float: left; margin-bottom: 20px; margin-right: 20px; z-index:99; border:1px solid transparent;overflow: hidden;}  
.rt-wrap-hov {width: 260px; height: 230px;}
.w-tit {
    font-family: "微软雅黑";
    color: #009ea7;
    font-weight: bold;
    text-align: center;
    line-height: 43px;
    font-size: 24px;
    background: url(public/images/e9/50/e6/4c8afb0cee060c386ed53dc50919fb4dae5d67cd.png?v9479) no-repeat bottom;
}
span.c-n {margin-top: 7px; height: 20px; font-size: 18px; color: #5a5a5a; display: block; text-align: center; overflow:hidden;}
.price-wrap { margin-top: 12px; height: 26px;}
span.price { padding-left: 18px; color: #767676; font-size: 10px; text-decoration: line-through;}
span.price-1 {font-size: 16px; color: #009ea7;}
span.price-2 {font-size: 30px; margin-left: -1px; color: #009ea7; letter-spacing: -1px;}
.price-buy {
    vertical-align: super;
    font-weight: bold;
    padding-left: 11px;
    color: #ffffff;
    line-height: 26px;
    display: inline-block;
    width: 104px;
    height: 26px;
    background: url(/public/images/9d/50/b3/ae03501d838363ee45c292778e6ae5a419e807f1.png?46774_H26_W104) no-repeat;
}
/*hover*/       
 .con-left:hover {border: 1px solid #dcdcdc;}
 .rt-wrap:hover {border: 1px solid #dcdcdc;}   
    
    
/*体检产品*/
.container1 { overflow: hidden; width: 1238px; margin: 0 auto;}
.contain-wy2 {overflow: hidden; width: 1258px;}   
.rm-bottom2 { margin-top: 32px; margin-left: auto; margin-right: auto; height: 670px;}    
.goods_list { font-family: "微软雅黑"; position: relative; float: left; margin-left: 10px;}    
span.p_2 { font-size: 40px; color: #f16600;  line-height: 32px;}    
.tit-one { margin-top: 36px; }    
.title-rmtj { font-family: "微软雅黑"; color: #009fa7; text-align: center; font-size: 36px; font-weight: bold; 
line-height: 69px; background: url(public/images/ff/bf/a0/0f86ec6c95bf6eb17fd14b3c8188df36436d61c1.png?vc91a) no-repeat center;}    
/*左边*/
.link_list li { border-top: 1px dashed #ffffff;}    
.link_list {
    float: left;
    height: 670px;
    padding: 17px 8px;
    border-radius: 20px 0 0 0;
	background: #019faa;
    /*background: url(/public/images/fa/b8/f6/9559d6b8a5aba119b295f9afca39cfb166337727.jpg?14991_H672_W196) no-repeat 0 0;}*/}
.link_list.link-col{ background:#ff5a00;}	
.comprehensive { padding: 48px 8px;}    
.link_list li:first-child { border-top: none;}
.link_list li a {
    display: block;
    width: 148px;
    min-height: 18px;
    padding: 9px 0 11px 7px;
    background: url(http://chimg.lottedfs.com/static-root/cn_cdn/images/main/renewal/main_category_arrow.png?vfa41) no-repeat 143px center;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -1px;
    color: #ffffff;
}
.link_list li { width: 164px; border-top: 1px dashed #ffffff;}  
.link_list li:hover { text-decoration: underline;}  
.lly:hover {border: 1px solid #dcdcdc;}    
    
/*中间*/    
 .lly {
    float: left;
    width: 288px;
    height: 670px;
    border: 1px solid transparent;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
	position: relative;
	margin-left: 10px;
}   
.pro-middle { width: 290px; height: 428px;}    
.txt_h {color: #009ea7; font-weight: bold; display: block; font-size: 24px; margin-top: 20px;}
span.txt_d { display: block; font-size: 20px; margin-top: 20px;line-height: 24px;}
.line-top { margin-top: 10px;}
span.p_1 {font-size: 14px; text-decoration: line-through; color: #767676;}    
span.p_3 {font-size: 24px; color: #f16600;}    
span.p_2 { font-size: 40px; color: #f16600; line-height: 32px;}
button.bt-buy {
    width: 120px;
    height: 38px;
    background: #ff5900;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 8px;
    display: block;
}      
/*右侧*/    
.lly-2 { height: 670px; width: 744px; float: left; margin-left: 10px;}
.index-item-list.posr {height: 330px; position: relative;}
ul, ol, li {list-style: none;}
li.n_2 {float: left; height: 330px; position: relative; text-align: right; margin: 0 8px 10px 0; overflow: hidden; background: #ffffff;}
.sign-wy {width: 47px; height: 60px; background: url
(public/images/db/5d/59/2711ee517494c5317a02b20bfa79627f9d43d224.png?vb415) top right no-repeat;
 top: 0; right: 0; text-align: center; color: #ffffff; font-size: 16px; padding-top: 3px; padding-right: 
2px; z-index: 10; position: absolute;}
.word-wp2 { padding: 10px 10px 0 0; overflow: hidden;}    
h4.wd {font-size: 16px; color: #333333; height: 22px;}    
span.old-price {font-size: 12px; text-decoration: line-through; color: #8A8A8A;}    
span.price2 {font-size: 20px; color: #f16600;}    
span.y-pr {font-size: 12px;}    
button.btn-buy2 { width: 70px; height: 24px; line-height: 23px; background: #ff5a00; padding: 0; font-
size: 14px; color: #ffffff; position: relative; z-index: 10;}    
.index-item-list-hover {background: #000; opacity: 0.7; width: 100%;  height: 100%; top: 0; left: 0; display: none;}
.index-item-list-hover .item-list-hover { color: #FFF; word-wrap: break-word; margin-left: 15px; margin-
right: 15px; text-align: left;}    
.item-feater { margin-top: 37px;}    
.index-item-list-hover .item-list-hover p { font-size: 14px; margin-top: 10px;overflow: hidden;}    
.item-feater p {height: 20px; overflow: hidden;}    
.index-item-list-hover .item-list-hover { color: #ffffff; word-wrap: break-word; margin-left: 15px; 
margin-right: 15px; text-align: left;}    
.index-item-list-hover .item-core { margin-top: 11px; height: 125px;  overflow: hidden;}    
.index-item-list.posr:hover .index-item-list .posa { display: block;}  
.posr:hover .index-item-list-hover { display:block;}
/*广告banner*/
/*医疗器械*/
.half-container {background: #f4f0ea; height: 1605px;} 
.title-two{ font-family: "微软雅黑"; color: #f16600; text-align: center; font-size: 36px; font-weight: bold; line-height: 69px;
 background: url(/public/images/f4/67/dc/c31a1e34ccaf9c056438f48a9bf82cb687664cb2.png?v124a) no-repeat center;}
.mach-middle{ height:480px; background:#ffffff;}
.mach-middle img{ height:480px; width:290px;}
.list-height {margin-top: 28px;}
.txt_stl{color: #ff5a00;font-weight: bold;display: block;font-size: 24px;margin-top: 20px;}
.rm-5 { overflow: hidden; margin: 0 auto; width:1238px;}    
.rm-3 { padding-top: 16px; margin-left: auto; margin-right: auto;}    
.contain-wy { width: 1258px;}    
.rm-tit2 {
    font-family: "微软雅黑";
    color: #f16600;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 69px;
    background: url(/public/images/f4/67/dc/c31a1e34ccaf9c056438f48a9bf82cb687664cb2.png?v124a) no-repeat 
center;
}    
/*健康食品*/ 
.lly-two{ background:#f5f3ec; float: left; width: 288px; height: 670px; border: 1px solid transparent; text-align: center; overflow: hidden; margin-left: 10px; position: relative;}
.mach-middle img {width: 286px; height: 480px;}
.link_list2 li:hover {text-decoration: underline;}
.link_list2 li:first-child { border-top: none;}    
.lly-two:hover {border: 1px solid #dcdcdc;}
li.n_th { float: left; height: 330px; position: relative; text-align: right; margin: 0 8px 10px 0; overflow: hidden;}      
.word-wpth{ padding: 12px 12px 16px 0; overflow: hidden; background:#f5f3ec;}    
    
</style>