.index-module {
  overflow: hidden;
  margin-top: 30px;
}
.word-wrap {
  text-align: center !important;
}
.word-wrap .price {
  font-size: 14px !important;
  line-height: 25px;
}
.word-wrap .price-wrap {
  height: 25px;
  line-height: 25px;
}
.word-wrap .old {
  color: #da2a2a;
}
.product-page .countdown {
  background: #f8f8f8;
  padding: 30px;
}
.product-page .countdown ul {
  padding: 0;
  overflow: hidden;
}
.product-page .countdown ul .arrow {
  line-height: 50px;
  font-size: 26px;
  color: #9f9f9f;
  width: 5%;
}
.product-page .countdown ul li {
  float: left;
  width: 30%;
}
.product-page .countdown ul li .DownPayment {
  overflow: hidden;
}
.product-page .countdown ul li .DownPayment .pay-left {
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #ed1c24;
  text-align: center;
  line-height: 35px;
}
.product-page .countdown ul li .DownPayment .pay-left img {
  width: 25px;
}
.product-page .countdown ul li .DownPayment .pay-right {
  float: left;
  margin-left: 10px;
  width: 75%;
}
.product-page .countdown ul li .DownPayment .pay-right p {
  margin: 0;
}
.product-page .countdown ul li .DownPayment .pay-right .pay-right-title {
  font-size: 16px;
  color: #919191;
  font-weight: 600;
}
.product-page .countdown ul li .DownPayment .pay-right .pay-right-time {
  color: #ed1c24;
  font-size: 12px;
  line-height: 20px;
}
#order-tab {
  padding: 15px 35px;
}
#order-tab tr {
  height: 40px;
}
.payBtn {
  background: #f39801;
  border-color: #f39801;
  width: 180px;
  font-size: 16px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
}
.payBtn:hover {
  color: #fff;
  background: #f39801;
  border-color: #f39801;
}
#psl-orders-list .psl-prompting {
  border: 1px solid #ddd;
  border-top: 0;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0 10px;
}
#psl-orders-list .psl-prompting .psl-pay-left {
  float: left;
  color: #ed1c24;
}
#psl-orders-list .psl-prompting .psl-pay {
  float: right;
  line-height: 40px;
}
#psl-orders-list .psl-prompting .psl-pay a {
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 10px;
  background: #ed1c24;
  border-color: #ed1c24;
}
.myback {
  color: #f39801;
  font-size: 16px;
}
.pagination .disabled a {
  background: #ed1c24;
  color: #fff;
}
.pagination .next a,
.pagination .prev a {
  background: #fff;
  color: #767676;
}
