.module-jmzn {
    .hd {
        .tit {
            p {
                background: none;
            }
        }
    }
    .bd {
        overflow: hidden;
        .ul {
            width: 990px;
            margin: 50px auto 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            li {
                padding: 10px 20px;
                margin: 10px 10px 30px;
                text-align: center;
                border: 1px solid #ccc;
                cursor: pointer;
                position: relative;
                i{
                    display: none;
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 13px;
                    height: 33px;
                    background: url(../../assets/02.png) no-repeat left center;
                    background-size: 100% 100%;
                  
                }
                &:hover {
                    background: #712305;
                    color: #fff;
                    i{
                        display: block;
                        .transfer;
                    }
                }
            }
        }
        .jmrx {
            display: block;
            width: 180px;
            height: 60px;
            margin: 0 auto;
            background: #fff;
            border: 1px solid #000;
            text-align: center;
            color: #333;
            line-height: 60px;
            border-radius: 3px;
            &:hover {
                color: #2f9eaf;
                border: 1px solid #2f9eaf;
            }
        }
    }
}